body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/124/656/original/gradient-cyber-futuristic-background_23-2149117429.jpg?1714222422");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "sedan";
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  color: #fafafa;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

form {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #24527a;
}

.submit-button {
  margin-left: 10px;
  background-color: #0d92ca;
  color: #ffffff;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.funny-fortune-telling {
  font-size: 20px;
  color: #ffffff;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid #0d92ca;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.funny-fortune-telling strong {
  color: #f49af0;
}

footer {
  color: #fafafa;
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
a {
  color: #fec1c8;
  background-color: rgba(0, 0, 0, 0.4);
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
